@import "~styles/screens";

.hero {
  display: grid;
  
  background-color: var(--backgroundOne);
}

.heroImg {
  grid-area: 1/1;
}

.heroContent {
  grid-area: 1/1;
  position: relative;

  h1,
  h2 {
    color: var(--main-color);
  }

  padding-left: 10vw;
  padding-top: 15vw;
  max-width: 40vw;
}

.heroTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;

  font-size: var(--text-xl);
}

.heroSubtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;

  font-size: var(--text-lg);
}
