@import "~styles/screens";

.advantages {
  padding: 0 10vw 10vh;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

  min-height: 40vh;

  background-color: var(--backgroundOne);
}

.advantagesList {
  margin-top: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;

  text-align: center;

  margin: 0;

  color: var(--main-color);
  font-size: var(--text-lg);
}
